<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>QT Robot Story Generator</title>

	<style type="text/css" media="screen">
		body {font-family:verdana, sans-serif; color:#666; background:#fafafa; padding:20px; text-align:center;}
		h1 {font-size:16px; font-weight:normal; text-align:center;}
		label {font-size:16px;}
		button {margin-left:205px; padding:5px; margin-top:5px; font-size:16px;}
		textarea {width:400px; font-size:16px; font-family: courier, "courier new", monospace; margin:0 0 5px 0; padding:5px; border:1px solid #eee;}
		select {margin:0 0 5px 0;}
	  </style>
</head>


<body>
	<h1>QT Robot Story Generator!</h1>
	<br>
	<br>
	<form method="post" id="story-form">
	
	<label >Step 1: Choose how much you want QT to help you:</label><br>
	<br>

		<input type="radio" id="ai0" name="ai" value="0">
    	<label for="ai0">No help, my story is directly sent to QT</label><br>
    	<input type="radio" id="ai1" name="ai" value="1">
    	<label for="ai1">Let QT edit my text to make it into a story</label><br>  
    	<input type="radio" id="ai2" name="ai" value="2">
    	<label for="ai2">Let QT make my story on a topic I choose</label><br><br>

	<br>
	<label for="story-form">Step 2: Input story here:</label><br>

		<textarea form="story-form" id="story" cols="40" rows="10" placeholder="Write a story about..."></textarea>
		<br>
		<button type="submit">submit</button>
	</form>

			<!--Jquery Cdn -->
	<script src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).on('submit','#story-form',function(e)
			{
		console.log('hello');
		e.preventDefault();

		$.ajax({
			type:'POST',
			url:'/',
			data:{
				story: $("#story").val(),
				rb: $("input[name=ai]:checked").val()
			},
			success:function()
			{
			alert('saved');
			}
		})
		});
	</script>
</body>
</html>
